/* use this for all blog headline */
.typographyHeadingText 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographySecondHeadingText 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyThirdHeadingText 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTitleText 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyLargeText 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallText 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyButtonText 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

